html{
    background-color: black;
    
}

.contenedor-padre{
    background-color: black;
}

.login {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    margin-top: 10%;
    
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 170, 170, 0.804);
    border-radius: 10px;
    box-shadow: 3px 5px 5px 15px rgb(201, 201, 201);
    padding: 1.4% 1% 1.4% 1%;
    height: 95%;
    width: 30%;
    margin-top: 1%;
}

.btn-styles{
    width: 70px;
    height: 50px;
    box-shadow: 1px 3px 3px 3px rgb(0, 0, 0);
}


input{
    box-shadow: 3px 4px 4px 4px rgb(0, 0, 0);

}

